<div class="container">
    <div id="contact" fxLayout="row wrap" fxLayoutAlign="center">
        <div class="contact-box" flex>    
            <div class="column" flex>
                <span class="material-icons">email</span>
                <p class="contact-header">Email:</p>
            </div>
            <div class="column" flex>
                <p class="contact-body">breannaholmanstylist@gmail.com</p>
            </div>
        </div>
        <div class="contact-box" flex> 
            <span class="material-icons">call</span>   
            <div class="column" flex>
                <p class="contact-header">Phone Number:</p>
            </div>
            <div class="column" flex>
                <p class="contact-body">831.261.9231</p>
            </div>
        </div>
        <div class="contact-box" flex>
            <span class="material-icons">business</span>    
            <div class="column" flex>
                <p class="contact-header">Address:</p>
            </div>
            <div class="column" flex>
                <p class="contact-body">123 South Main St. Salinas, Ca 93955</p> 
            </div>
        </div>
    </div> 
</div>
