<!--The content below is only a placeholder and can be replaced.-->
<!--<div layout="row" class="banner">
  <div flex="" class="banner-image">
    <img src="assets/images/newLogo.png">
  </div>
</div>-->
<div flex="20"></div>
<mat-toolbar color="primary">
  <div id="company-name">
    <p>{{title}}</p>
  </div>
  <div fxFlex fxLayoutAlign="flex-end center" fxShow="true" fxHide.gt-xs>
    <button mat-icon-button ngbDropdownToggle (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div id="main-menu" fxFlex fxLayoutAlign="center center" fxShow="false" fxShow.gt-xs>
    <div class="main-menu btn">
      <a mat-button [routerLink]="'/home'">Home</a>
      <a mat-button [routerLink]="'/services'">Services</a>
      <a mat-button [routerLink]="'/about'">About Us</a>
      <a mat-button [routerLink]="'/contact'">Contact Us</a>
    </div>
    <button id="instagram" mat-icon-button onClick="window.open('//instagram.com/hairbybreannaguerrero/')">
      <mat-icon svgIcon="instagram"></mat-icon>
    </button>
  </div>
</mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
          <a mat-button (click)="sidenav.toggle()" [routerLink]="'/home'">Home</a>
          <a mat-button (click)="sidenav.toggle()" [routerLink]="'/services'">Services</a>
          <a mat-button (click)="sidenav.toggle()" [routerLink]="'/about'">About Us</a>
          <a mat-button (click)="sidenav.toggle()" [routerLink]="'/contact'">Contact Us</a>
          <a mat-button (click)="sidenav.toggle()">Close</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
