/* resize images */
.banner .banner-image img {
    display:block;
    margin-right: 0px;
    margin-left: 800%;
    height: 64px;
    width: 110px;
}

#company-name{
    padding-top: 10px;
    padding-right: 5px;
    margin-right: 50px;
}

p{
    font-family: Billabong;
}

.mat-toolbar.mat-primary {
    background: #F5F1F3;
    /*background: #7FA493;*/
    color: rgb(0, 0, 0);
}

#instagram{
    margin-right: 0px auto;
}