<!--The content below is only a placeholder and can be replaced.-->
<!--<div layout="row" class="banner">
  <div flex="" class="banner-image">
    <img src="assets/images/newLogo.png">
  </div>
</div>-->
  <div flex="20"></div>
  <mat-toolbar color="primary">
    <mat-toolbar-row flex fxShow="false" fxShow.gt-xs>
      <div id="company-name">
        <p>Ash & Willow</p>
      </div>
      <div class="nav-bar-gt-xs">
        <a mat-button [routerLink]="'/home'">Home</a>
        <a mat-button [routerLink]="'/services'">Services</a>
        <a mat-button [routerLink]="'/about'">About Us</a>
        <a mat-button [routerLink]="'/contact'">Contact Us</a>
        <span class="fill-remaining-space"></span>
          <button id="instagram" mat-icon-button onClick="window.open('//instagram.com/hairbybreannaguerrero/')">
            <mat-icon svgIcon="instagram"></mat-icon>
          </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row fxShow="true" fxHide.gt-xs>
      <div id="company-name">
        <p>Ash & Willow</p>
      </div>
      <div class="fill-remaining-space"></div>
      <div ngbDropdown  class="nav-bar-xs">
        <button mat-icon-button ngbDropdownToggle (click)="collapsed = !collapsed">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="xs-menu" *ngIf="collapsed" fxHide.gt-xs>
        <a mat-button [routerLink]="'/home'">Home</a>
        <a mat-button [routerLink]="'/services'">Services</a>
        <a mat-button [routerLink]="'/about'">About Us</a>
        <a mat-button [routerLink]="'/contact'">Contact Us</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>


