/* resize images */
#company-name{
    padding-top: 10px;
}

#main-menu .btn{
    margin-right: 20%;
}

#main-menu a{
    margin-right: 10%;
}

p{
    font-family: Billabong;
}
.mat-toolbar.mat-primary {
    background: #F5F1F3;
    /*background: #7FA493;*/
    color: rgb(0, 0, 0);
}

#instagram{
    margin-right: 0px auto;
}